# Timescale Database
POSTGRES_HOST=timescale
POSTGRES_DB=sensor_db
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# NATS Configuration
NATS_HOST=nats
NATS_ENCRYPTION_KEY=
NATS_PORT=4222
NATS_HTTP_PORT=8222
NATS_SYS_ACCOUNT_ID=AC5AETGQDNAASOGOYEEGZHHWTN72U7WYHBXMNZLHHNZWVPWFCDU5VUXT
NATS_APPLICATION_CORE_ID=AAF42CN65REM6SAJYPK6JEJDYG37VLLLVS4VBHB4DSLOSXMIDVCN7FEX

# Cloud Database
CLOUD_POSTGRES_HOST=cloud-db
CLOUD_POSTGRES_DB=cloud_db
CLOUD_POSTGRES_USER=
CLOUD_POSTGRES_PASSWORD=
CLOUD_POSTGRES_PORT=5433