# Database
POSTGRES_DB=sensor_db
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# NATS Data Consumer Credentials
DATA_CONSUMER_CREDS_PATH=data_consumer.creds
DATA_CONSUMER_TEST_CREDS_PATH=admin_test.creds
DATA_CONSUMER_CA_PEM_PATH=ca.pem

# NATS Configuration
NATS_ENCRYPTION_KEY=
NATS_PORT=4222
NATS_HTTP_PORT=8222
NATS_SYS_ACCOUNT_ID=AC5AETGQDNAASOGOYEEGZHHWTN72U7WYHBXMNZLHHNZWVPWFCDU5VUXT
NATS_SENSOR_DATA_CORE_ID=ABNX2H755JMKLS5YQQNFLH4B7FJH4UUIEBHKV2Y7PVC4PQU47IN6U2OO